<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Wonder Lands</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      CATALOG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="products">Products</a>
                      <a class="dropdown-item" href="#">Services</a>
                      <div class="dropdown-divider"></div>
                      <a routerLink="chat" class="dropdown-item">Join Chat</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a routerLink="about" routerLinkActive="active" class="nav-link">ABOUT</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item active" routerLinkActive="active">
                  <a routerLink="login" class="nav-link" *ngIf="!isLoggedIn()">Sign in</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isLoggedIn()">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">{{ getUsername() }}</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="doLogout()">Logout</a>
                    </div>
                </li>
            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </div>
</nav>
<div class="container content">
    <router-outlet></router-outlet>
    <footer>
        <div class="row">
          <div class="col-12"><small>&copy; Wonder Lands Inc. 2020</small></div>
        </div>
    </footer>
</div>